{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <turbo-frame id="page-content" target="_top">
            {% block content '' %}
        </turbo-frame>
    </div>
{% endblock %}
